<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<a nz-dropdown [nzVisible]="isDropdownOpen" (nzVisibleChange)="isDropdownOpen = $event" [nzDropdownMenu]="menu" nzTrigger="click">
  <span nz-icon nzType="filter" nzTheme="fill" class="filter-icon"></span>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="custom-search">
    <nz-input-group [nzPrefix]="prefixTemplateUser" class="mb-18"
      ><input nz-input placeholder="Search by Keyword" type="text" [(ngModel)]="searchTerm" 
      (ngModelChange)="updateSearch()"/></nz-input-group>
    <ng-template #prefixTemplateUser
      ><span nz-icon nzType="search" ></span
    ></ng-template>
    <p (click)="sort('asc')" (keydown.enter)="sort('asc')"
    tabindex="0">Sort A to Z</p>
    <p (click)="sort('desc')" (keydown.enter)="sort('desc')"
    tabindex="0">Sort Z to A</p>
    <nz-collapse nzGhost nzExpandIconPosition="right">
      <nz-collapse-panel nzHeader="Filter by Name">
        <label nz-checkbox>Org Name 1</label>
        <label nz-checkbox>Org Name 2</label>
      </nz-collapse-panel>
    </nz-collapse>
    <hr />
    <div class="text-right">
      <button (click)="reset()" nz-button nzType="default" nzSize="small">Reset</button>
      <button (click)="close()" nz-button nzType="primary" nzSize="small" class="ml-12">
        Apply
      </button>
    </div>
  </div>
</nz-dropdown-menu>