<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="w-100">
  <div class="title-bar">
    <div nz-row nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <h3>Issue Code <span>(0 Code)</span></h3>
      </div>
      <div nz-col>
        <nz-space [nzSize]="8">
          <div class="send-request" *nzSpaceItem>
            <a nz-dropdown [nzDropdownMenu]="menu" nzType="link">
              Mark as Inactive
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>Edit</li>
                <li nz-menu-item>2nd menu item</li>
                <li nz-menu-item>3rd menu item</li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <nz-input-group
            *nzSpaceItem
            [nzPrefix]="prefixTemplateUser"
            class="search"
          >
            <input type="text" nz-input placeholder="Search" />
            <ng-template #prefixTemplateUser
              ><span nz-icon nzType="search" nzTheme="outline"></span
            ></ng-template>
          </nz-input-group>

          <button
            nz-button
            nzType="default"
            *nzSpaceItem
            nzTooltipTitle="Export"
            nzTooltipPlacement="bottom"
            nz-tooltip
          >
            <span nz-icon nzType="download" nzTheme="outline"></span></button
          ><button
            nz-button
            nzType="default"
            *nzSpaceItem
            nzTooltipTitle="Reset Filters"
            nzTooltipPlacement="bottom"
            nz-tooltip
          >
            <span nz-icon nzType="reload" nzTheme="outline"></span>
          </button>
          <button
            nz-button
            nzType="default"
            *nzSpaceItem
            (click)="openGridModal()"
            nzTooltipTitle="Grid Customization"
            nzTooltipPlacement="bottom"
            nz-tooltip
          >
            <span nz-icon nzType="control" nzTheme="outline"></span></button
          ><button
            nz-button
            nzType="primary"
            *nzSpaceItem
            (click)="showModal(1)"
            class="d-none d-lg-flex"
          >
            Add
          </button>
        </nz-space>
        <div class="d-lg-none xs-footer">
          <button nz-button nzType="primary" (click)="showModal(1)">Add</button>
        </div>
      </div>
    </div>
  </div>
  <app-issue-code-table
    (openViewEvent)="openViewModal()"
  ></app-issue-code-table>
</div>

<!-- Create Modal -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzCloseIcon]="modalClose"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="modalFooter"
  nzCentered
  nzWidth="100%"
  nzWrapClassName="modal-full"
>
  <ng-template #modalTitle> Add Issue Code </ng-template>
  <ng-template #modalClose> Close </ng-template>
  <ng-container *nzModalContent>
    <nz-card
      *ngIf="tabSelected < 2"
      style="width: 880px"
      [nzBordered]="false"
      [nzBodyStyle]="{ padding: '0px' }"
      nzTitle="Issue Details"
      class="custom-card"
    >
      <!-- tab component start -->

      <section class="p-20">
        <div nz-row [nzGutter]="[16, 16]">
          <div nz-col class="gutter-row" nzXs="24" nzSm="12">
            <label>Issue Code<sup>*</sup></label
            ><input
              nz-input
              placeholder="Enter  Code"
              type="text"
              nzSize="large"
            />
          </div>
          <div nz-col class="gutter-row" nzXs="24" nzSm="12">
            <label>Issue Name<sup>*</sup></label
            ><input
              nz-input
              placeholder="Enter  Name"
              type="text"
              nzSize="large"
            />
          </div>

          <div nz-col class="gutter-row" nzXs="24" nzSm="24">
            <label>Description<sup>*</sup></label>
            <textarea
              nz-input
              placeholder="Enter Description"
              [nzAutosize]="{ minRows: 3 }"
            ></textarea>
          </div>
        </div>
      </section>

      <!-- tab component start -->
    </nz-card>
    <!-- preview component start -->
    <nz-card
      *ngIf="tabSelected === 2"
      style="width: 900px"
      [nzBordered]="false"
      [nzTitle]="previewtitle"
      class="custom-card"
    >
      <ng-template #previewtitle>
        <h3>Preview</h3>
        <p>See a quick summary of issue code</p>
      </ng-template>
      <section class="preview-card">
        <div class="header">
          <h4>Issue Details</h4>
          <button
            nz-button
            nzTooltipTitle="Edit"
            nzTooltipPlacement="bottom"
            nz-tooltip
            (click)="updateTabSelected(1)"
          >
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
        </div>
        <div class="body">
          <div nz-row [nzGutter]="[15, 24]">
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
              <h5>Issue Code</h5>
              <p>12354</p>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
              <h5>Issue Name</h5>
              <p>Schedule Name 123</p>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
              <h5>Description</h5>
              <p>Lorem ispum is a dummy text</p>
            </div>
          </div>
        </div>
      </section>
    </nz-card>
    <!-- preview component end -->
  </ng-container>
  <ng-template #modalFooter>
    <div>
      <button nz-button (click)="back()" *ngIf="tabSelected > 1">Back</button>
    </div>

    <button
      nz-button
      nzType="primary"
      (click)="saveContinue()"
      *ngIf="tabSelected < 2 && !isEdit"
    >
      Save & Continue
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="createNotification('success')"
      *ngIf="tabSelected === 2"
    >
      Create Issue Code
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="update()"
      *ngIf="tabSelected < 4 && isEdit"
    >
      Update
    </button>
  </ng-template>
</nz-modal>

<!-- View Modal -->
<nz-modal
  [(nzVisible)]="viewOrganisation"
  [nzTitle]="modalTitle1"
  [nzCloseIcon]="modalClose1"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
  nzCentered
  nzWidth="100%"
  nzWrapClassName="modal-full no-footer"
>
  <ng-container *nzModalContent>
    <nz-card
      style="width: 670px"
      [nzBordered]="false"
      [nzTitle]="previewtitle"
      nzDescription="See a quick summary of organisation"
      class="custom-card"
    >
      <ng-template #previewtitle>
        <div
          nz-row
          nzJustify="space-between"
          nzAlign="middle"
          class="view-title"
        >
          <div nz-col>
            <div>
              <h3>
                Issue Code <span class="dot"></span>
                <span class="status green">Active</span>
              </h3>
              <p>Issue Code: SMP11258745</p>
            </div>
          </div>
          <div nz-col>
            <button
              nz-button
              nzTooltipTitle="Edit"
              nzTooltipPlacement="bottom"
              nz-tooltip
              (click)="editModal(1)"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
          </div>
        </div>
      </ng-template>
      <section class="view-card">
        <div class="body">
          <div nz-row [nzGutter]="[15, 15]">
            <div nz-col nzSpan="24">
              <h5>Description</h5>
              <p>Lorem ipsum is a dummy text</p>
            </div>
          </div>
        </div>
      </section>
    </nz-card></ng-container
  >
  <ng-template #modalTitle1> Task Group Information </ng-template>
  <ng-template #modalClose1> Close </ng-template></nz-modal
>

<!-- Grid Customization Modal -->
<nz-modal
  [(nzVisible)]="isGridModal"
  nzTitle="Grid Customization"
  [nzCloseIcon]="modalClose2"
  [nzFooter]="modalFooter3"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzCentered
  nzWidth="450px"
  ><ng-template #modalClose2> Close </ng-template
  ><ng-container *nzModalContent>
    <div class="checkbox-list">
      <label nz-checkbox>Organisation Name</label
      ><label nz-checkbox>Organisation Code</label
      ><label nz-checkbox>Packfora URL</label
      ><label nz-checkbox>Primary Email</label
      ><label nz-checkbox>Primary Contact</label
      ><label nz-checkbox>Created on</label><label nz-checkbox>Status</label>
    </div></ng-container
  >
  <ng-template #modalFooter3>
    <button nz-button (click)="handleCancel()">Clear</button>
    <button nz-button nzType="primary" (click)="handleOk()">Save</button>
  </ng-template>
</nz-modal>
