<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="w-100">
  <div class="title-bar">
    <div nz-row nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <h3>Template Repository</h3>
      </div>
      <div nz-col>
        <nz-space [nzSize]="8">
          <div class="send-request" *nzSpaceItem>
            <a nz-dropdown [nzDropdownMenu]="menu" nzType="link">
              Mark as Inactive
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>Edit</li>
                <li nz-menu-item>2nd menu item</li>
                <li nz-menu-item>3rd menu item</li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <nz-input-group
            *nzSpaceItem
            [nzPrefix]="prefixTemplateUser"
            class="search"
          >
            <input type="text" nz-input placeholder="Search" />
            <ng-template #prefixTemplateUser
              ><span nz-icon nzType="search" nzTheme="outline"></span
            ></ng-template>
          </nz-input-group>

          <button
            nz-button
            nzType="default"
            *nzSpaceItem
            nzTooltipTitle="Export"
            nzTooltipPlacement="bottom"
            nz-tooltip
          >
            <span nz-icon nzType="download" nzTheme="outline"></span></button
          ><button
            nz-button
            nzType="default"
            *nzSpaceItem
            nzTooltipTitle="Reset Filters"
            nzTooltipPlacement="bottom"
            nz-tooltip
          >
            <span nz-icon nzType="reload" nzTheme="outline"></span>
          </button>
          <button
            nz-button
            nzType="default"
            *nzSpaceItem
            (click)="openGridModal()"
            nzTooltipTitle="Grid Customization"
            nzTooltipPlacement="bottom"
            nz-tooltip
          >
            <span nz-icon nzType="control" nzTheme="outline"></span></button
          ><button
            nz-button
            nzType="primary"
            *nzSpaceItem
            (click)="showModal(1)"
            class="d-none d-lg-flex"
          >
            Create
          </button>
        </nz-space>
        <div class="d-lg-none xs-footer">
          <button nz-button nzType="primary" (click)="showModal(1)">
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-template-repository-table
    (openViewEvent)="openViewModal()"
  ></app-template-repository-table>
</div>

<!-- Create Modal -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzCloseIcon]="modalClose"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="modalFooter"
  nzCentered
  nzWidth="100%"
  nzWrapClassName="modal-full"
>
  <ng-template #modalTitle> Template Repository Preview </ng-template>
  <ng-template #modalClose> Close </ng-template>
  <ng-container *nzModalContent>
    <nz-card
      *ngIf="tabSelected < 2"
      style="width: 880px"
      [nzBordered]="false"
      [nzBodyStyle]="{ padding: '0px' }"
      nzTitle="Template Details"
      class="custom-card"
    >
      <!-- tab component start -->

      <section class="p-20">
        <div nz-row [nzGutter]="[16, 16]">
          <div nz-col class="gutter-row" nzXs="24" nzSm="12">
            <label>Template Code<sup>*</sup></label
            ><input
              nz-input
              placeholder="Enter  Code"
              type="text"
              nzSize="large"
            />
          </div>
          <div nz-col class="gutter-row" nzXs="24" nzSm="12">
            <label>Template Name<sup>*</sup></label
            ><input
              nz-input
              placeholder="Enter  Name"
              type="text"
              nzSize="large"
            />
          </div>
          <div nz-col class="gutter-row" nzXs="24" nzSm="24">
            <label>Description<sup>*</sup></label>
            <textarea
              nz-input
              placeholder="Enter Description"
              [nzAutosize]="{ minRows: 3 }"
            ></textarea>
          </div>
          <div nz-col class="gutter-row" nzXs="24" nzSm="12">
            <label>Template Type<sup>*</sup></label
            ><nz-select
              ngModel="1"
              nzPlaceHolder="Select"
              nzSize="large"
              class="w-100"
            >
              <nz-option nzValue="1" nzLabel="Type 1"></nz-option>
              <nz-option nzValue="2" nzLabel="Type 2"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row [nzGutter]="[16, 16]" class="mt-15">
          <div nz-col class="gutter-row" nzXs="24" nzSm="4">
            <label>Template Files<sup>*</sup></label>
            <nz-upload
              nzType="drag"
              [nzMultiple]="true"
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              (nzChange)="handleChange($event)"
            >
              <img
                src="../../../../../../../assets/images/plus.svg"
                alt=""
                class="mb-1"
              />
              <p class="ant-upload-text text-14">Upload</p>
            </nz-upload>
          </div>
        </div>
      </section>

      <!-- tab component start -->
    </nz-card>
    <!-- preview component start -->
    <nz-card
      *ngIf="tabSelected === 2"
      style="width: 900px"
      [nzBordered]="false"
      [nzTitle]="previewtitle"
      class="custom-card"
    >
      <ng-template #previewtitle>
        <h3>Preview</h3>
        <p>See a quick summary of template</p>
      </ng-template>
      <section class="preview-card">
        <div class="header">
          <h4>Basic Details</h4>
          <button
            nz-button
            nzTooltipTitle="Edit"
            nzTooltipPlacement="bottom"
            nz-tooltip
            (click)="updateTabSelected(1)"
          >
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
        </div>
        <div class="body">
          <div nz-row [nzGutter]="[15, 24]">
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
              <h5>Template Code</h5>
              <p>12354</p>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
              <h5>Template Name</h5>
              <p>Schedule Name 123</p>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
              <h5>Template Type</h5>
              <p>Lorem ispum is a dummy text</p>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24">
              <h5>Template Description</h5>
              <p>
                Facilisis tristique finibus eleifend fringilla natoque et
                accumsan ex ultrices pede lacus ipsum eros pellentesque metus
                torquent iaculis libero nisl non.
              </p>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24">
              <h5>Template File</h5>
              <div class="img-thumb-detail">
                <img
                  src="../../../../../../../assets/images/product-thumb-detail.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </nz-card>
    <!-- preview component end -->
  </ng-container>
  <ng-template #modalFooter>
    <div>
      <button nz-button (click)="back()" *ngIf="tabSelected > 1">Back</button>
    </div>

    <button
      nz-button
      nzType="primary"
      (click)="saveContinue()"
      *ngIf="tabSelected < 2 && !isEdit"
    >
      Save & Continue
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="createNotification('success')"
      *ngIf="tabSelected === 2"
    >
      Create Template
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="update()"
      *ngIf="tabSelected < 4 && isEdit"
    >
      Update
    </button>
  </ng-template>
</nz-modal>

<!-- View Modal -->
<nz-modal
  [(nzVisible)]="viewOrganisation"
  [nzTitle]="modalTitle1"
  [nzCloseIcon]="modalClose1"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
  nzCentered
  nzWidth="100%"
  nzWrapClassName="modal-full no-footer"
>
  <ng-container *nzModalContent>
    <nz-card
      style="width: 670px"
      [nzBordered]="false"
      [nzTitle]="previewtitle"
      nzDescription="See a quick summary of organisation"
      class="custom-card"
    >
      <ng-template #previewtitle>
        <div
          nz-row
          nzJustify="space-between"
          nzAlign="middle"
          class="view-title"
        >
          <div nz-col>
            <div>
              <h3>Template Name 123</h3>
              <p>Template Code: SMP11258745</p>
            </div>
          </div>
          <div nz-col>
            <button
              nz-button
              nzTooltipTitle="Edit"
              nzTooltipPlacement="bottom"
              nz-tooltip
              (click)="editModal(1)"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
          </div>
        </div>
      </ng-template>
      <section class="view-card">
        <div class="body">
          <div nz-row [nzGutter]="[15, 15]">
            <div nz-col nzSpan="24">
              <h5>Template Type</h5>
              <p>Template Type</p>
              <hr />
            </div>
            <div nz-col nzSpan="24">
              <h5>Description</h5>
              <p>Lorem ipsum is a dummy text</p>
              <hr />
            </div>
            <div nz-col nzSpan="24">
              <h5>Template File</h5>
              <a href="test.jpeg" download>abc.jpeg</a>
              <hr />
            </div>
            <div nz-col nzSpan="24">
              <h5>Created Date</h5>
              <p>11 Jun, 2024</p>
            </div>
          </div>
        </div>
      </section>
    </nz-card></ng-container
  >
  <ng-template #modalTitle1> Template Repository Information </ng-template>
  <ng-template #modalClose1> Close </ng-template></nz-modal
>

<!-- Grid Customization Modal -->
<nz-modal
  [(nzVisible)]="isGridModal"
  nzTitle="Grid Customization"
  [nzCloseIcon]="modalClose2"
  [nzFooter]="modalFooter3"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzCentered
  nzWidth="450px"
  ><ng-template #modalClose2> Close </ng-template
  ><ng-container *nzModalContent>
    <div class="checkbox-list">
      <label nz-checkbox>Organisation Name</label
      ><label nz-checkbox>Organisation Code</label
      ><label nz-checkbox>Packfora URL</label
      ><label nz-checkbox>Primary Email</label
      ><label nz-checkbox>Primary Contact</label
      ><label nz-checkbox>Created on</label><label nz-checkbox>Status</label>
    </div></ng-container
  >
  <ng-template #modalFooter3>
    <button nz-button (click)="handleCancel()">Clear</button>
    <button nz-button nzType="primary" (click)="handleOk()">Save</button>
  </ng-template>
</nz-modal>
