<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Select Task List to Add"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="modalFooter"
  nzCentered
  nzWidth="975px"
>
  <ng-container *nzModalContent>
    <div class="border-none">
      <!-- tab component start -->
      <div nz-row nzJustify="space-between" nzAlign="middle" class="mb-15">
        <div nz-col>
          <nz-input-group
            [nzSuffix]="suffixTemplateInfo"
            [nzPrefix]="prefixTemplateUser"
            class="search"
            style="width: 345px"
          >
            <input type="text" nz-input placeholder="Search" />
            <ng-template #prefixTemplateUser
              ><span nz-icon nzType="search" nzTheme="outline"></span
            ></ng-template>
            <ng-template #suffixTemplateInfo>
              <img
                src="../../../../../../../assets/images/keyboard.svg"
                alt=""
              />
            </ng-template>
          </nz-input-group>
        </div>
        <div nz-col>
          <a
            nz-button
            nzType="link"
            class="p-0"
            (click)="openAddNewComponent()"
            (keydown.enter)="openAddNewComponent()"
            tabindex="0"
            >Add New Task</a
          >
        </div>
      </div>
      <nz-table
        #basicTable
        nzSize="small"
        nzOuterBordered
        nzShowPagination="false"
        [nzScroll]="{ y: '70vh' }"
        [nzData]="listOfCurrentPageData"
      >
        <thead>
          <tr>
            <th nzLeft nzAlign="center" nzWidth="70px">Select</th>
            <th nzWidth="150px">Task Code</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Task Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfCurrentPageData">
            <td
              nzLeft
              nzAlign="center"
              [nzChecked]="setOfCheckedId.has(data.id)"
            ></td>
            <td>TSKLST10293</td>
            <td>Check for damage</td>
            <td>Injection Mould Weekly Task List</td>
            <td>01:30</td>
          </tr>
        </tbody>
      </nz-table>
      <!-- tab component start -->
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="cancel()">Cancel</button>

    <button nz-button nzType="primary" (click)="cancel()">
      Add Tasks To Group
    </button>
  </ng-template>
</nz-modal>
<app-add-task
  [isVisible]="openComponent"
  (cancelClicked)="closeAddNewModal()"
></app-add-task>
